@{
    ViewData["Title"] = "Person";
}
<form asp-action="Index">
    <label>NhapHoTen:</label>
    <input type="text" name="FullName" />
    <label>NhapDiaChi</label>
    <input type="text" name="Address" />
    <input type="submit" value="GuiDuLieu" />
</form>

<h1>@ViewBag.Message</h1>